<side-menu>
  <div class="page-content">
    <header>
      <div class="mx-auto max-w-7xl pb-10">
        <h1 class="text-3xl font-bold text-gray-900">Attendance Summary</h1>
      </div>
    </header>
    <div [formGroup]="form" class="grid md:grid-cols-4 md:gap-4 pb-8">
      <form-field  [errorControl]="form.get('attendanceMonth')" name="Attendance Month">
        <label for="attendanceMonth" class="f-label">Attendance Month</label>
        <div class="f-control">
          <ngx-select-dropdown (change)="onFilterChange()" formControlName="attendanceMonth" [options]="Global.monthMaster" [config]="{search: false, placeholder: 'Choose One', displayKey:'fullName'}" [multiple]="false"></ngx-select-dropdown>
        </div>
      </form-field>
      <form-field  [errorControl]="form.get('attendanceYear')" name="Attendance Year">
        <label for="attendanceYear" class="f-label">Attendance Year</label>
        <div class="f-control">
          <ngx-select-dropdown (change)="onFilterChange()" formControlName="attendanceYear" [options]="Global.generateYears(2, 'before')" [config]="{search: false, placeholder: 'Choose One', displayKey:'fullName'}" [multiple]="false"></ngx-select-dropdown>
        </div>
      </form-field>
    </div>
    <hr class="pb-10">
    <div class="flex justify-between pb-5">
      <form class="max-w-xs w-full">
        <label
          for="default-search"
          class="mb-2 text-sm font-medium text-gray-900 sr-only"
          >Search</label
        >
        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
          >
            <svg
              class="w-4 h-4 text-gray-500 "
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
              />
            </svg>
          </div>
          <input
            type="search"
            id="default-search"
            class="block w-full p-3 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
            placeholder="Search Employees"
          />
          <button
            type="button"
            (click)="null"
            class="text-white absolute end-2.5 bottom-[5px] bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 cursor-pointer "
          >
            Search
          </button>
        </div>
      </form>

      <div class="flex">
        <!-- <button
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none cursor-pointer"
        >
          View Report
        </button> -->
      </div>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-300">
          <tr>
            <th scope="col" class="px-2 py-5 whitespace-nowrap">
              <div class="flex items-center justify-center">
                <input [checked]="selectedAllRowIds" (change)="allRowsCheckboxChecked($event)" id="default-checkbox" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded ">
                <label for="default-checkbox" class="ms-2 text-gray-700">SR No</label>
            </div>
            </th>
            <th scope="col" class="px-4 py-5 whitespace-nowrap">
              Employee Name
            </th>
            <th scope="col" class="px-4 py-5 whitespace-nowrap">Card No.</th>
            <th scope="col" class="px-4 py-5 whitespace-nowrap">Total Working Days</th>
            <th scope="col" class="px-4 py-5 whitespace-nowrap">Total Paydays</th>
            <th scope="col" class="px-4 py-5 whitespace-nowrap">Total Present</th>
            <th scope="col" class="px-4 py-5 whitespace-nowrap">Total Absent</th>
            <th scope="col" class="px-4 py-5 whitespace-nowrap">Total Holidays</th>
            <th scope="col" class="px-4 py-5 whitespace-nowrap">Total Weekly Off</th>
            <th scope="col" class="px-4 py-5 whitespace-nowrap">Total Incentive Hours</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees; let i = index" class="odd:bg-white even:bg-gray-100 border-b">
            <th>
              <div class="flex items-center justify-center">
                <input  [attr.data-checkbox-id]="employee._id"
                [checked]="isRowChecked(employee._id)"
                (change)="rowCheckBoxChecked($event, employee)" id="default-checkbox" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded ">
                <label for="default-checkbox" class="ms-2 text-gray-700">{{i + 1}}</label>
              </div>
            </th>
            <th
              scope="row"
              class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap"
            >
              {{employee?.userDbId?.fullName}}
            </th>
            <td class="px-4 py-3 text-gree">{{employee?.userId}}</td>
            <td class="px-4 py-3 text-center">{{employee?.monthlySummary?.totalWorkingDays}}</td>
            <td class="px-4 py-3 text-center">{{employee?.monthlySummary?.totalPayDays}}</td>
            <td class="px-4 py-3 text-center">{{employee?.monthlySummary?.totalPresent}}</td>
            <td class="px-4 py-3 text-center">{{employee?.monthlySummary?.totalAbsent}}</td>
            <td class="px-4 py-3 text-center">{{employee?.monthlySummary?.totalHolidays}}</td>
            <td class="px-4 py-3 text-center">{{employee?.monthlySummary?.totalWeeklyOffs}}</td>
            <td class="px-4 py-3 text-center">{{employee?.monthlySummary?.totalIncentiveHours}}</td>
          </tr>
          <tr *ngIf="!employees.length">
            <td [attr.colspan]="10">
              <div>
                <no-data-found></no-data-found>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</side-menu>